{
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": 0
  },
 "env": {
    "browser": true
  },
  "globals": {
    "graphql": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
